<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/header.css">
    <title>Ultras</title>
</head>
<body>
    <div class="main-container">
        <div class="nav-bar">
            <a href="../index.html">
                <div class="logo">
                    <h1>Ultras.</h1>
                    <p>Clothing Store</p>
                </div>
            </a>
            
            <div class="nav-links">
                <div class="dropdown">
                    <a href="#">Women</a>
                    <div class="dropdown-content">
                        <a href="../women-clothes-category/lakeerein.html">Lakeerein</a>
                        <a href="../women-clothes-category/tops.html">Tops</a>
                        <a href="../women-clothes-category/saree.html">Saree</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Men</a>
                    <div class="dropdown-content">
                        <a href="../mens-clothes-category/mens-top.html">Men's Top</a>
                        <a href="../mens-clothes-category/mens-bottoms.html">Men's Bottoms</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Kids</a>
                    <div class="dropdown-content">
                        <a href="../kids-clothes-category/girls-wear.html">Girl's Wear</a>
                        <a href="../kids-clothes-category/boys-wear.html">Boy's Wear</a>
                    </div>
                </div>
                <a  href="../contactUs.html">Contact Us</a>
                <a href="../aboutUs.html">About Us</a>
            </div>
            <div class="primary-icons">
                <a href="#"><img src="../assets/images/searchIcon.png" alt="Search" class="icon"></a>
                <a href="#"><img src="../assets/images/userIcon.png" alt="User" class="icon"></a>
                <a href="#"><img src="../assets/images/wishlistIcon.png" alt="Wishlist" class="icon"></a>
                <a href="../cart.html"><img src="../assets/images/cartIcon.png" alt="Cart" class="icon"></a>
            </div>
        </div>
    </div>
</body>
</html>
